* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #707070;
}

.bg-image {
    height: 1081px;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 43%;
    font-family: Heebo;
    color: #020253;
    direction: rtl;
}

.form-container form {
    display: flex;
    flex-direction: column;
}